<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>cosmossdk.io/math/template</title>
<meta name="go-import" content="cosmossdk.io/math git https://github.com/cosmos/cosmos-sdk/math">
<meta name="go-source" content="cosmossdk.io/math https://github.com/cosmos/cosmos-sdk/math https://github.com/cosmos/cosmos-sdk/math/tree/master{/dir} https://github.com/cosmos/cosmos-sdk/math/blob/master{/dir}/{file}#L{line}">
<style>
* { font-family: sans-serif; }
body { margin-top: 0; }
.content { display: inline-block; }
code { display: block; font-family: monospace; font-size: 1em; background-color: #d5d5d5; padding: 1em; margin-bottom: 16px; }
ul { margin-top: 16px; margin-bottom: 16px; }
</style>
</head>
<body>
<div class="content">
<h2>cosmossdk.io/math/template</h2>
<code>go get cosmossdk.io/math/template</code>
<code>import "cosmossdk.io/math/template"</code>
Home: <a href="https://pkg.go.dev/cosmossdk.io/math/template">https://pkg.go.dev/cosmossdk.io/math/template</a><br/>
Source: <a href="https://github.com/cosmos/cosmos-sdk/math">https://github.com/cosmos/cosmos-sdk/math</a><br/>
Sub-packages:<ul><li><a href="/math/template">cosmossdk.io/math/template</a></li></ul></div>
</body>
</html>